<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Character List</h1>
    <p>Yuri</p>
    <p>Soap Mac</p>
    <p>John Price</p>
    <p>Roach</p>
    <p>John Shepard</p>
    <a href="{% url 'character_list' %}"></a>
    <p><a href="{% url 'home' %}">Go Back to Home page</a></p>
    <p><a href="{% url 'detail' %}">Go to Details</a></p>
    <p><a href="{% url 'games' %}">Go to Games</a></p>
</body>
</html>