<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Character Details</h1>
    <p>Yuri : 37, Ex Speznanz, Task Force 141, Informant</p>
    <p>Soap Mac : 39, Ex SAS, Task Force 141, Demolitions/Sniper</p>
    <p>John Price : 46, Ex SAS, Task Force 141, Captain</p>
    <p>Roach : 42, Ex SAS, Task Force 141, Sargent</p>
    <p>John Shepard : 49, U.S. Army, Shadow Company, Commander</p>
    <a href="{% url 'detail' %}"></a>
    <p><a href="{% url 'home' %}">Go to Home</a></p>
    <p><a href="{% url 'character_list' %}">Go to Character List</a></p>
    <p><a href="{% url 'games' %}">Go to Games</a></p>
    
</body>
</html>