<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the Games Section! </h1>
    <h2>WE OFFER XBOX AND PLAY STATION</h2>
    <p>Spryo the Dragon</p>
    <p>Golden Eye: 007</p>
    <p>Zelda</p>
    <p>Harry Potter</p>
    <p>World of Wars</p>
    <a href="{% url 'games' %}"></a>
    <p><a href="{% url 'character_list' %}">Back to Character List</a></p>
    <p><a href="{% url 'home' %}">Back to Home</a></p>
    <p><a href="{% url 'detail' %}">Go to Details </a></p>
</body>
</html>

